<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular Material - Starter App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />

    <style type="text/css">
    /**
         * Hide when Angular is not yet loaded and initialized
         */
    
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
        display: none !important;
    }
    </style>
</head>

<body ng-app="catCraz" layout="row" ng-controller="CatController as cc" ng-cloak>
    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="logo">
           <md-icon md-svg-icon="catbook" class="logo-icon"></md-icon>
           <p>Paw, world!</p>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="it in cc.cats">
                <md-button ng-click="cc.selectCat(it)" ng-class="{'selected' : it === cc.selected }">
                    <img ng-src="{{it.url}}" alt="it.title" class="avatar"> {{it.title}}
                </md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <md-button class="menu" hide-gt-sm ng-click="cc.toggleList()" aria-label="Show Cat List">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>CatBook -- Happiness made simple  </h1>
            <md-icon md-svg-icon="info" class="info-icon"></md-icon>
        </md-toolbar>
        <md-content flex id="content">
            <h2>{{cc.selected.title}}</h2>
            <p>{{cc.selected.modified | date:'medium'}}</p>
            <img ng-src="{{cc.selected.url}}" alt="cc.selected.title">
            <md-list>
                <md-subheader class="md-no-sticky">3 line item</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="comment in cc.selected.comments">
                    <img ng-src="{{comment.user.avatar || 'assets/default-avatar.jpg'}}" class="md-avatar" alt="{{comment.user.username}}" />
                    <div class="md-list-item-text" layout="column">
                        <p>{{ comment.text }}</p>
                    </div>
                </md-list-item>
            </md-list>


            
            <md-button class="options add" md-no-ink ng-click="cc.showContactOptions($event)" aria-label="Add a Cat">
                <md-tooltip>Add a new cat</md-tooltip>
                <md-icon md-svg-icon="add"></md-icon>
            </md-button>
            <md-button class="options edit" md-no-ink ng-click="cc.showContactOptions($event)" aria-label="Edit Cat">
                <md-tooltip>Edit {{ cc.selected.title }}</md-tooltip>
                <md-icon md-svg-icon="edit"></md-icon>
            </md-button>
			<md-button class="options contact" md-no-ink ng-click="cc.showContactOptions($event)" aria-label="Contact Cat">
			    <md-tooltip>Contact {{ cc.selected.title }}</md-tooltip>
			    <md-icon md-svg-icon="share"></md-icon>
			</md-button>

        </md-content>
	<!-- open info dialog -->
		

	
    </div>
	


    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./src/cats/Cats.js"></script>
    <script src="./src/cats/CatController.js"></script>
    <script src="./src/cats/CatService.js"></script>
    <script type="text/javascript">
    angular
        .module('catCraz', ['ngMaterial', 'cats'])
        .config(function($mdThemingProvider, $mdIconProvider) {

            $mdIconProvider
                .defaultIconSet("./assets/svg/avatars.svg", 128)
                .icon("menu", "./assets/svg/menu.svg", 24)
                .icon("info", "./assets/svg/ic_info_outline_white_24px.svg", 24)
                .icon("add", "./assets/svg/ic_add_black_24px.svg", 24)
                .icon("edit", "./assets/svg/ic_mode_edit_black_24px.svg", 24)
                .icon("catbook", "./assets/svg/catbook.svg", 512)
                .icon("share", "./assets/svg/share.svg", 24)
                .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                .icon("twitter", "./assets/svg/twitter.svg", 512)
                .icon("phone", "./assets/svg/phone.svg", 512);

            $mdThemingProvider.theme('default')
                .primaryPalette('pink')
                .accentPalette('cyan');

        });
    </script>
</body>

</html>
